.page-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: minmax(200px, 0.5fr) 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "header header header header"
    "aside  main   main   main";
  overflow-x: hidden;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--table-color-header);
}

.header-logo {
  width: 150px;
  margin-left: 20px;
  height: auto;
  display: flex;
  align-items: center;
}

.header-logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

nav {
  width: 100%;
  padding-right: 50px;
  display: flex;
  justify-content: right;
}

nav button {
  width: 60px;
  height: 40px;
  font-size: 1rem;
}

aside {
  grid-area: aside;
  padding-left: 10px;
  font-size: var(--h2);
  border-right: 1px solid var(--table-color-header);
}

aside ul {
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
}

aside a:link,
aside a:visited {
  text-decoration: none;
  color: black;
}

.aside-list {
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  padding-left: 5px;
  transition: transform 0.2s ease;
  width: 80%;
}

.aside-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 12px;
  height: 100%;
}

.submenu {
  position: absolute;
  font-size: var(--font-size-base);
  top: 0;
  left: 100%;
  transform: translateY(-35%);
  display: none;
  background: white;
  padding: 5px;
  list-style: none;
  min-width: 250px;
  margin-left: 8px;
}

.submenu li {
  padding: 5px 10px;
  cursor: pointer;
}

.submenu li:hover {
  background: #eee;
}

.aside-list:hover {
  /* background-color: var(--secondary-button-color); */
  transform: translateX(5px) scale(1.02);
}

.aside-list:hover .submenu,
.submenu:hover {
  display: block;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  fill: black;
  margin-right: 10px;
}

main {
  grid-area: main;
  padding-left: 10px;
}
